<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Teacher Page</title>
  <!-- Custom fonts for this template-->
  {% load static %}
  <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
              <a href="/indext/week_template/"> {{course_name.name}} </a>
              <a href="#" class="d-none d-sm-inline-block btn btn-sm btn shadow-sm"> +</a>
            </h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
              <i class="fas fa-download fa-sm text-white-50"></i> Dowanload all studnet's up-to-date homework</a>
          </div>
          <!-- add task -->

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Bulletin Board
                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn shadow-sm">Edit</a>  -->
                {% load static %}
                <img src="{% static "img/edit.png" %}" alt="edit" width="30px" id="bt1" />
              </h6>
            </div>
            <div class="card-body">
              <!-- <p>This week we're going to explore the style of BBC news.</p>
                    <p class="mb-0">Pay attention to some important sentences and words first.</p> -->
              <form action="/indext/course_template/?course_id={{course_name.id}}" method="post" id="myform1" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="course_id" value="{{course_name.id}}" hidden/>
                <div id="notification">{{ course_name.notification }}</div>
                <textarea rows='5' cols='70' name='notification' id='notice' placeholder='{{course_name.notification}}' /></textarea>
              </form>
            </div>
          </div>
          <!-- reference -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">References for After-Class Learning
                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn shadow-sm">Edit</a> -->
                {% load static %}
                <img src="{% static "img/edit.png" %}" alt="edit" width="30px" id="bt2" />
              </h6>
            </div>
            <div class="card-body">
              <!-- <p>For recommendation, you can have a look at BBC.com to find some more listening materials</p>
                    <p class="mb-0">Or websites such as vox, cnn, etc.</p> -->
              <form action="/indext/course_template/?course_id={{course_name.id}}" method="post" id="myform2" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- <input type="text" name="course_id" value="{{course_name.id}}" hidden/> -->
                <div id="reference">{{course_name.reference}}</div>
                <textarea rows='5' cols='70' name='reference' id='refer' placeholder='{{course_name.reference}}' /></textarea>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->

  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>


  <script type="text/javascript">
    var text1 = document.querySelectorAll('#notification')[0]
    var text2 = document.querySelectorAll('#reference')[0]
    var bt1 = document.querySelectorAll('#bt1')[0]
    var bt2 = document.querySelectorAll('#bt2')[0]
    var edit = 0;
    var editing = 0;
    document.querySelectorAll('#notice')[0].style.display = "none"
    document.querySelectorAll('#refer')[0].style.display = "none"
    bt1.onclick = function () {
      edit = edit + 1;
      // console.log("aa" + edit)
      text1.style.display = "none"
      document.querySelectorAll('#notice')[0].style.display = "block"
      // text.innerHTML = "<textarea rows='5' cols='70'  name='notification' placeholder='{{course_name.notification}}' /></textarea>"
      if (edit != 1) {
        bt1.src = '{% static "img/edit.png" %}';

      } else {
        bt1.src = '{% static "img/finished.png" %}';
      }
      if (edit == 2) {
        document.getElementById("myform1").submit();
        alert("发布成功！")
      }
    }
    bt2.onclick = function () {
      editing = editing + 1;
      text2.style.display = "none"
      document.querySelectorAll('#refer')[0].style.display = "block"
      if (editing != 1) {
        bt2.src = '{% static "img/edit.png" %}';
      } else {
        bt2.src = '{% static "img/finished.png" %}';
      }
      if (editing == 2) {
        document.getElementById("myform2").submit();
        alert("发布成功！")
      }
    }

  </script>
</body>

</html>