<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Student Page</title>

  <!-- Custom fonts for this template-->
  {% load static %}
  <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">


  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">



        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Your Course
              <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> +</a>
            </h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
              <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">
            {% if courses %} {% for course in courses %}
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{{ course.description }}</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/indexs/course_template_student?id={{course.id}}" +>{{ course.name }}</a></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %} {% endif %}
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <!-- <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">A course about how to design your dynamic web</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Web Design</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

          <!-- Earnings (Monthly) Card Example -->
          <!-- <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">To better improve your listening skill</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Listening Course</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- 触发按钮

            </div>

            <div class="col-lg-6 mb-4">
                    <!-- 模态框 -->
          <div id="myModal">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Student Homework Page</h2>
                <span id="closeBtn" class="close">×</span>
              </div>
              <div class="modal-body">
                <p>1. Sumbit your essay</p>
                <p>2. Preview</p>
              </div>
              <!-- <div class="modal-footer">
                                <h3></h3>
                            </div> -->
            </div>
          </div>
          <!-- Illustrations
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="">
                  </div>
                  <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                  <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw &rarr;</a>
                </div>
              </div> -->



          <div class="card shadow mb-4">
            <form class="student" action="/indexs/student_index/" method="POST">
              {% csrf_token %}
              <input required type="text" id="course_code" placeholder="Course Code" name="course_code">
              <input required type="text" id="student_id" placeholder="Student ID" name="student_id" value="{{ request.session.id }}" hidden>
              <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                Add Course
              </button>
            </form>


          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->


  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->

  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
  <script type="text/javascript">{ { script } } ('{{wrong}}')</script>
  <script>
      (function () {
        /*建立模态框对象*/
        var modalBox = {};
        /*获取模态框*/
        modalBox.modal = document.getElementById("myModal");
        /*获得trigger按钮*/
        modalBox.triggerBtn = document.getElementById("triggerBtn");
        /*获得关闭按钮*/
        modalBox.closeBtn = document.getElementById("closeBtn");
        /*模态框显示*/
        modalBox.show = function () {
          console.log(this.modal);
          this.modal.style.display = "block";
        }
        /*模态框关闭*/
        modalBox.close = function () {
          this.modal.style.display = "none";
        }
        /*当用户点击模态框内容之外的区域，模态框也会关闭*/
        modalBox.outsideClick = function () {
          var modal = this.modal;
          window.onclick = function (event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
        }
        /*模态框初始化*/
        modalBox.init = function () {
          var that = this;
          this.triggerBtn.onclick = function () {
            that.show();
          }
          this.closeBtn.onclick = function () {
            that.close();
          }
          this.outsideClick();
        }
        modalBox.init();

      })();
  </script>
  <script>function load_num(cn) {
      document.getElementById("main").innerHTML = '<object type="text/html" data="course_template?cn=' + cn + '" width="100%" height="600px"></object>';
    }</script>
</body>

</html>