<!-- <!DOCTYPE html> -->
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Teacher Page</title>

  <!-- Custom fonts for this template-->
  {% load static %}
  <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">


  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Your Course
              <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> +</a>
            </h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
              <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <!-- <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">A course about how to design your dynamic web</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Web Design</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- Earnings (Monthly) Card Example -->
            {% if course %} {% for item in course %}
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        <span class="mydescription">{{item.description}}</span>
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <a href="/indext/course_template?course_id={{item.id}}" +>{{ item.name }} </a>
                        (Course ID：{{ item.code }})：
                        <span class="course_id" hidden>{{item.id}}</span>
                        <form action="/indext/teacher_index/" method="post" class="myform" enctype="multipart/form-data">
                          {% csrf_token %}
                          <input type="text" name="edit_course_id" value="{{item.id}}" hidden/>
                          <textarea rows='5' cols='40' name='new_description' class="editdescription" placeholder='{{item.description}}' /></textarea>
                        </form>
                        {% load static %}
                        <img src="{% static "img/edit.png" %}" alt="编辑" width="30px" class="myimg" />
                        <img src="{% static "img/delete.png" %}" alt="删除" width="30px" class="mydelete" />
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %} {% else %}

            <pre>   Please add a new course.</pre> {% endif %}
          </div>


          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Add New Courses</h6>
            </div>
            <div class="card-body">
              <fieldset>

                <form action="/indext/teacher_index/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <p>Course Title</p>
                  <input type="text" name="user_id" required autocomplete="off" id="user_id" value="{{ request.session.id }}" />
                  <input type="text" name="name" required autocomplete="off" id="name" /> {% if message %}
                  <span id="message">{{message}}</span>
                  {% endif %}
                  <p>Course Description</p>
                  <textarea rows="5" cols="70" name="description" placeholder="No description yet." /> </textarea>
                  <br>
                  <button class="btn btn-primary" data-dismiss="modal" type="submit" value="提交" id="submit">Submit</button>
                </form>
              </fieldset>
            </div>
          </div>
          <!-- reference -->
          <!-- <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Manage Existed Courses</h6>
            </div>
            <div class="card-body">
              <fieldset>
                {% if course %}
                <ul>
                  {% for item in course %}
                  <li>
                    <a href="/indext/course_template?id={{item.id}}" +>{{ item.name }} </a>(Course ID：{{ item.code }})：
                    <div>
                      <span class="course_id" hidden>{{item.id}}</span>
                      <span class="mydescription">{{item.description}}</span>
                      <form action="/indext/teacher_index/" method="post" class="myform" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="edit_course_id" value="{{item.id}}" hidden/>
                        <textarea rows='5' cols='70' name='new_description' class="editdescription" placeholder='{{item.description}}' /></textarea>
                      </form>

                    </div>
                    <div>
                      {% load static %}
                      <img src="{% static " img/edit.png " %}" alt="编辑" width="30px" class="myimg" />
                      <img src="{% static " img/delete.png " %}" alt="删除" width="30px" class="mydelete" />
                    </div>

                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <p>Please add a new course.</p>
                {% endif %}
              </fieldset>
            </div>
          </div> -->
        </div>


        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Student's Average Perfromance on Different Courses</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
              </div>
            </div>
          </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Your Time Attribution</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-pie pt-4 pb-2">
                <canvas id="myPieChart"></canvas>
              </div>
              <div class="mt-4 text-center small">
                <span class="mr-2">
                  <i class="fas fa-circle text-primary"></i> Web Design
                </span>
                <span class="mr-2">
                  <i class="fas fa-circle text-success"></i> Listening Course
                </span>
                <span class="mr-2">
                  <i class="fas fa-circle text-info"></i> Advanced Listening
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

          <!-- Project Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Preparing Your Todos</h6>
            </div>
            <div class="card-body">
              <h4 class="small font-weight-bold">Advanced Web Design
                <span class="float-right">20%</span>
              </h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">This Week's News from CNN
                <span class="float-right">40%</span>
              </h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">This Week's News from BBC
                <span class="float-right">60%</span>
              </h4>
              <div class="progress mb-4">
                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">Javascript Tutorial
                <span class="float-right">80%</span>
              </h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">CSS Self-learning Video Searching
                <span class="float-right">Complete!</span>
              </h4>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Your Website 2019</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->

  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>


  <!-- javascript for this page -->
  <script>
    window.οnlοad = function () {
      name = ""
      description = ""
      window.location.href = `indext/teacher_index/?id=${request.session.id}`;
    }
    // if (document.getElementById('message')) {
    //     if (document.getElementById('message').innerHTML == "exist") {
    //         alert("该课程名已被创建！")
    //     }
    // }
    if (document.getElementById('message')) { console.log("hh") }
    for (i = 0; i < document.getElementsByTagName('span').length; i++) {
      if (document.getElementsByTagName('span')[i].innerText == "") {
        document.getElementsByTagName('span')[i].innerText = "No description yet."
      }
    }
    // document.getElementById('submit').onclick = function () {
    //     if (document.getElementById('message')) {
    //         if (document.getElementById('message').innerHTML != "该课程名已被创建！") {
    //             console.log("a")
    //             alert("创建成功嗷嗷嗷！")
    //         }
    //     } else {
    //         if (document.getElementById('name').value) {
    //             console.log("n")
    //             alert("创建成功！")
    //         }
    //     }
    // }

    var describe = document.querySelectorAll('.mydescription')
    var new_describe = document.querySelectorAll('.editdescription')
    var courses = document.querySelectorAll('.course_id')
    var images = document.querySelectorAll(".myimg");
    var delete_images = document.querySelectorAll(".mydelete");
    var forms = document.querySelectorAll(".myform");
    // var user_id = '{{ request.session.id }}'
    var edit = [];

    document.querySelectorAll('#user_id')[0].style.display = "none"
    var onImageClick = function () {
      var point = this.getAttribute("num")
      edit[point] = edit[point] + 1;
      // console.log("point:" + point)
      // console.log("point:" + edit)
      describe[point].style.display = "none"
      new_describe[point].style.display = "block"
      if (edit[point] != 1) {
        images[point].src = '{% static "img/edit.png" %}';

      } else {
        images[point].src = '{% static "img/finished.png" %}';
      }
      if (edit[point] == 2) {
        forms[point].submit();
        alert("发布成功！")
        edit[point] = 0
      }
    }
    var onDeleteImageClick = function () {
      var delete_point = this.getAttribute("num")
      window.location.href = "/indext/teacher_index/?delete=" + courses[delete_point].innerHTML;
    }
    for (let i = 0; i < images.length; i++) {
      images[i].onclick = onImageClick;
      delete_images[i].onclick = onDeleteImageClick;
      describe[i].setAttribute("num", i);
      new_describe[i].setAttribute("num", i)
      images[i].setAttribute("num", i)
      delete_images[i].setAttribute("num", i)
      forms[i].setAttribute("num", i)
      edit[i] = 0
      new_describe[i].style.display = "none"
    }

  </script>

</body>

</html>